# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Runner Service
  version: 0.2.0
  description: Connector execution endpoint.
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://api.decentralised.art/chain

security: []

tags:
  - name: runner
    description: |
      Operations related to connector execution.

components:
  securitySchemes:
    BearerAuth:
      $ref: ../../shared/security.yaml#/components/securitySchemes/BearerAuth

paths:
  /execute:
    options:
      tags: [runner]
      operationId: OPTIONS_execute
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    post:
      tags: [runner]
      operationId: POST_execute
      summary: Execute
      description: Execute a connector.

      security:
        - BearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "schemas/executeRequest.yaml" }

      responses:
        "200":
          description: Executed
          content:
            application/json:
              schema: { $ref: "schemas/executeResponse.yaml" }

        "400":
          description: Bad request
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "404":
          description: Connector not found
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "500":
          description: Internal execution or response decoding error
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
