# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Condition Service
  version: 0.1.0
  description: >
    Condition registry endpoints. Supports fetching the latest condition by name,
    fetching a specific version by deployed address, and registering a condition from Solidity source.

servers:
  - url: https://api.decentralised.art

tags:
  - name: condition
    description: |
      Operations related to condition contracts:
      creation, inspection, and source management.

components:
  securitySchemes:
    BearerAuth:
      $ref: ../../shared/security.yaml#/components/securitySchemes/BearerAuth

paths:
  /condition/{name}:

    parameters:
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Name of the condition

    head:
      tags: [condition]
      operationId: HEAD_conditionLatest
      summary: Head latest condition
      description: Check if a condition exists (latest)
  
      responses:
        "200":
          description: Exists

        "404":
          description: Not found

    options:
      tags: [condition]
      operationId: OPTIONS_conditionLatest
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    get:
      tags: [condition]
      operationId: GET_conditionLatest
      summary: Get latest condition
      description: Get newest (latest) version of a condition by name
    
      responses:
        "200":
          description: Latest condition
          content:
            application/json:
              schema: {$ref: "schemas/conditionInfoResponse.yaml"}

        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /condition/{name}/{version}:
    parameters:
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Name of the condition

      - name: version
        in: path
        required: true
        schema: {$ref: ../../shared/schemas/address.yaml}
        description: Version of the condition

    head:
      tags: [condition]
      operationId: HEAD_conditionVersion
      summary: Head versioned condition
      description: Check if a specific condition version exists

      responses:
        "200":
          description: Exists

        "404":
          description: Not found

    options:
      tags: [condition]
      operationId: OPTIONS_conditionVersion
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    get:
      tags: [condition]
      operationId: GET_conditionVersion
      summary: Get versioned condition
      description: Get a specific condition version by address

      responses:
        "200":
          description: Condition info for a specific version
          content:
            application/json:
              schema: {$ref: "schemas/conditionInfoResponse.yaml"}

        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /condition:
    post:
      tags: [condition]
      operationId: POST_condition
      summary: Register condition
      description: Register a condition by name and its Solidity source
      
      security:
        - BearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "schemas/createConditionRequest.yaml"}

      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema: {$ref: "schemas/createConditionResponse.yaml"}

        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "409":
          description: Conflict
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

        "500":
          description: Failure
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
