# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Transformation Service
  version: 0.2.0
  description: Transformation registry endpoints.
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://api.decentralised.art/chain

security: []

tags:
  - name: transformation
    description: Transformation creation and inspection.

components:
  securitySchemes:
    BearerAuth:
      $ref: ../../shared/security.yaml#/components/securitySchemes/BearerAuth

paths:
  /transformation/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Transformation name.

    head:
      tags: [transformation]
      operationId: HEAD_transformation
      summary: Check transformation existence
      responses:
        "200":
          description: Exists.
        "404":
          description: Not found.

    options:
      tags: [transformation]
      operationId: OPTIONS_transformationByName
      summary: CORS preflight
      responses:
        "204":
          description: No content.

    get:
      tags: [transformation]
      operationId: GET_transformation
      summary: Get transformation by name
      responses:
        "200":
          description: Transformation info.
          content:
            application/json:
              schema: { $ref: "schemas/transformationInfoResponse.yaml" }
        "400":
          description: Invalid request.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
        "404":
          description: Not found.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
        "500":
          description: Internal transformation serialization error.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /transformation:
    options:
      tags: [transformation]
      operationId: OPTIONS_transformation
      summary: CORS preflight
      responses:
        "204":
          description: No content.

    post:
      tags: [transformation]
      operationId: POST_transformation
      summary: Publish transformation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "schemas/createTransformationRequest.yaml" }
      responses:
        "201":
          description: Published.
          content:
            application/json:
              schema: { $ref: "schemas/createTransformationResponse.yaml" }
        "400":
          description: Invalid request.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
