# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Format Service
  version: 0.2.0
  description: Format hash listing and format membership exploration.
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://api.decentralised.art/chain

security: []

tags:
  - name: format
    description: Format hash and connector membership endpoints.

paths:
  /formats:
    options:
      tags: [format]
      operationId: OPTIONS_formats
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    head:
      tags: [format]
      operationId: HEAD_formats
      summary: Check format list query
      description: Returns 200 when the format list query is valid.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size.

        - name: after
          in: query
          required: false
          schema:
            type: string
            pattern: "^(0x)?[a-fA-F0-9]{64}$"
          description: Format hash cursor from a previous response `cursor.next_after`.

      responses:
        "200":
          description: Query is valid.

        "400":
          description: Invalid query.

    get:
      tags: [format]
      operationId: GET_formats
      summary: List format hashes
      description: List connector format hashes known to the registry.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size.

        - name: after
          in: query
          required: false
          schema:
            type: string
            pattern: "^(0x)?[a-fA-F0-9]{64}$"
          description: Format hash cursor from a previous response `cursor.next_after`.

      responses:
        "200":
          description: Format hash page.
          content:
            application/json:
              schema: { $ref: "schemas/formatListResponse.yaml" }

        "400":
          description: Invalid query.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /format/{hash}:
    parameters:
      - name: hash
        in: path
        required: true
        schema: { $ref: "schemas/formatHash.yaml" }
        description: Connector format hash.

    options:
      tags: [format]
      operationId: OPTIONS_format
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content

    get:
      tags: [format]
      operationId: GET_format
      summary: Get format membership
      description: List connector names and scalar labels for a format hash.

      parameters:
        - name: limit
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 256 }
          description: Page size for connector names.

        - name: after
          in: query
          required: false
          schema: { type: string }
          description: Connector name cursor from a previous response `cursor.next_after`.

      responses:
        "200":
          description: Format membership.
          content:
            application/json:
              schema: { $ref: "schemas/formatInfoResponse.yaml" }

        "400":
          description: Invalid format hash, limit, or cursor.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
