# SPDX-License-Identifier: MIT
openapi: 3.0.3

info:
  title: DCN Auth Service
  version: 0.2.0
  description: Chain authentication endpoints.

servers:
  - url: https://api.decentralised.art/chain

tags:
  - name: auth
    description: |
      Operations related to authentication.

paths:
  /nonce/{address}:
    parameters:
      - name: address
        in: path
        required: true
        schema: { $ref: ../../shared/schemas/address.yaml }
        description: Address to get nonce for

    get:
      tags: [auth]
      operationId: GET_nonce
      summary: Get nonce
      description: >
        Get a one-time nonce for an address. Sign `Login nonce: <nonce>` and
        submit it to `/auth`.

      responses:
        "200":
          description: Nonce returned
          content:
            application/json:
              schema: { $ref: schemas/nonceResponse.yaml }
        
        "400":
          description: Bad request
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }

  /auth:
    options:
      tags: [auth]
      operationId: OPTIONS_auth
      summary: CORS preflight
      description: CORS preflight

      responses:
        "204":
          description: No content 

    post:
      tags: [auth]
      operationId: POST_auth
      summary: Authenticate
      description: Authenticate using an address, the signed login message, and its signature.

      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: schemas/authRequest.yaml}

      responses:
        "200":
          description: Authentication successful
          headers:
            Authorization:
              description: Bearer token for protected chain endpoints.
              schema:
                type: string
                example: Bearer <access_token>
          content:
            application/json:
              schema: { $ref: schemas/authResponse.yaml }

        "400":
          description: Invalid address, nonce, message, or signature.
          content:
            application/json:
              schema: { $ref: ../../shared/schemas/error.yaml }
